$primary-text-color: rgb(55, 255, 0);

$primary-background-color: linear-gradient(
  90deg,
  rgba(224, 15, 196, 1) 0%,
  rgba(255, 139, 0, 1) 0%,
  rgba(255, 0, 196, 1) 100%
);

//$primary-background-color: radial-gradient(
//     circle,
//     rgba(238, 174, 202, 1) 0%,
//     rgba(148, 187, 233, 1) 100%
//   );

$primary-background-color: linear-gradient(to right, #093028, #237a57);
$secondary-background-color: linear-gradient(to left, #34e89e, #0f3443);

$primary-text-color: rgb(0, 255, 179);

$primary-scroll-bar-color: rgb(0, 255, 179);

$header-height: 50px;

$primary-font: "video", serif;

// STREET THEME ______
// $primary-font: "owners-wide", sans-serif;
